@model NetworkComplainCenter.Models.ComplainResult
@{
    var complains = Model.Complains;

    var ps = Model.PageSize;
    var cp = Model.CurrentPage;
    var total = Math.Ceiling((double)Model.TotalComplains / ps);

    ViewBag.Title = "Index";
}

<body class="dashboard-page">
        <div class="agile-grids">
            <div class="w3l-table-info">
                <h3>Complains</h3>
                <div>
                    <button class="hvr-icon-float-away col-10" style="height:50px">New Complain</button>
                        
                        <div class="w3l_search">
                            <input type="text" name="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
</div>
               
                    
                    <table id="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>ComputerId</th>
                                <th>ComplainedBy</th>
                                <th>AssignedTo</th>
                                <th>Last Update</th>
                                <th>Delete/Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in complains)
                            {
                                <tr role="row" class="even">
                                    
                                    <td class="sorting_1">@item.Title</td>
                                    <td>@item.ComplainStatus.Name</td>
                                    <td>@item.Location.Name</td>
                                    <td>@item.Computer.Name</td>
                                    <td>@item.Complainer.Name</td>
                                    <td>@item.Assignee.Name</td>
                                    <td>@item.UpdatedDate</td>
                                    <td><span class="glyphicon glyphicon-remove"></span> &nbsp;<span class="glyphicon glyphicon-edit"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                <ul class="pagination">
                    @if (cp > 0)
                    {
                        <li class="paginate_button previous" id="example_previous">
                            <a href="@Url.Action("Index", new { p = cp-1 })" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                    }


                    @for (int i = 0; i < total; i++)
                    {
                        <li class="paginate_button">
                            <a href="@Url.Action("Index", new { p = i })" aria-controls="example" data-dt-idx="1" tabindex="0">@Html.Raw(i + 1)</a>
                        </li>
                    }

                    @if (cp < total - 1)
                    {
                        <li class="paginate_button next" id="example_next">
                            <a href="@Url.Action("Index", new { p = cp + 1 })" aria-controls="example" data-dt-idx="7" tabindex="0">Next</a>
                        </li>
                    }
                </ul>
                </div>
         </div>
</body>